/* font size */
.fz-12 {
  font-size: 12px; }

.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-32 {
  font-size: 32px; }

.fz-36 {
  font-size: 36px; }

.fz-42 {
  font-size: 42px; }

.fz-48 {
  font-size: 48px; }

.fz-64 {
  font-size: 64px; }

/* font end */
/* font weight */
.fw-r {
  font-weight: 400; }

.fw-m {
  font-weight: 500; }

.fw-b {
  font-weight: 700; }

.fw-bk {
  font-weight: 900; }

/* font weight end */
/* font style */
.fs-i {
  font-style: italic; }

/* fon style end */
/* color */
.txt-white {
  color: #fff; }

.txt-deepRed {
  color: #650300; }

.txt-red {
  color: #AA0601; }

.txt-black {
  color: #000; }

.txt-deepGray {
  color: #555555; }

.txt-gray {
  color: #707070; }

.op-70 {
  opacity: 70%; }

/* color end */
/* margin */
.mb-04 {
  margin-bottom: 4px; }

.mb-6 {
  margin-bottom: 6px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-28 {
  margin-bottom: 28px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-72 {
  margin-bottom: 72px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-96 {
  margin-bottom: 96px; }

.mb-124 {
  margin-bottom: 124px; }

.mb-160 {
  margin-bottom: 160px; }

.mr-4 {
  margin-right: 4px; }

.mr-8 {
  margin-right: 8px; }

.mr-16 {
  margin-right: 16px; }

.mr-22 {
  margin-right: 22px; }

.mr-24 {
  margin-right: 24px; }

.mr-32 {
  margin-right: 32px; }

.mr-48 {
  margin-right: 48px; }

.mr-64 {
  margin-right: 64px; }

.ml-16 {
  margin-left: 16px; }

.ml-32 {
  margin-left: 32px; }

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

/* margin end */
.p-12 {
  padding: 12px; }

.pl-32 {
  padding-left: 32px; }

.container {
  width: 100%;
  padding: 0 32px; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Lato", Roboto,'Noto Sans TC', sans-serif; }

img {
  vertical-align: middle;
  width: 100%;
  height: auto; }

.db {
  display: block; }

a {
  text-decoration: none; }

.ta-c {
  text-align: center; }

span {
  vertical-align: middle; }

.list-active {
  border-left: 4px solid #198754; }

.logo-link {
  display: block; }

h1 {
  width: 151px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: no-wrap;
  overflow: hidden; }

.sideBar {
  min-width: 296px; }

.avatar {
  width: 40px;
  height: 40px; }

.main {
  width: calc(100vw - 296px); }

.dropdown .btn:hover {
  color: #198754; }

.list-group-item h3, .list-group-item p {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.list-group-item div:hover {
  color: #198754; }

.list-group-item.active {
  color: black;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6; }

.card-header {
  padding: 12px 28px 12px 16px; }

.page-link {
  border: none; }

/*# sourceMappingURL=all.css.map */
